        * {
            margin: 0;
            padding: 0;
        }
        nav {
            position: fixed;
            width: 100%;
            background-color: #F8F0EE;
            text-align: center;
            height: 100%;
            z-index: 99;
            top: 0;
        }
        #menuburger {
            font-size: 8.5vw;
            text-align: right;
            color: #742E07;
            font-family: 'Montserrat', sans-serif;
        }
        #menu li {
            display: block;
            margin: 2vw;
            padding: 2vw;
            width: 92%;
        }
        #menu a {
            font-family: 'Montserrat', sans-serif;
            font-size: 5vw;
            color: black;
            text-decoration: none;
            text-transform: uppercase;
        }
        #menu a:hover {
            color: #F2AB9B;
        }
        .hidden {
            display: none;
        }
        .nav_hide {
            height: auto;
        }
        #logo {
            position: absolute;
            width: 17vw;
            left: 2vw;
            top: 0;
        }
        #behandlinger_knap {
            font-family: 'Montserrat', sans-serif;
            font-size: 5vw;
            color: black;
            text-decoration: none;
            text-transform: uppercase;
            background-color: #F8F0EE;
            border: none;
        }
        #dropdown {
            position: relative;
            background-color: #F8F0EE;
            width: 112%;
        }
        #menu #dropdown li {
            position: relative;
            background-color: #F8F0EE;
            width: 80%;
            margin: 2vw;
        }
        #dropdown a {
            text-decoration: none;
            color: black;
        }
        .behandlinger_knap:hover,
        #dropdown a:hover {
            color: #F2AB9B;
            cursor: pointer;
        }
        body {
            margin-top: 33vw;
        }
        h1 {
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            font-size: 8vw;
            text-align: center;
            padding-bottom: 7vw;
        }
        p {
            font-family: 'Playfair Display', serif;
            margin-left: 6vw;
            margin-right: 6vw;
            margin-bottom: 4vw;
            text-align: center;
            line-height: 7vw;
            padding-bottom: 8vw;
        }
        #sugaring h2 {
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            font-size: 5vw;
            text-align: center;
            padding-bottom: 7vw;
        }
        #sugaring .skygge_section {
            position: relative;
            top: 0vw;
            left: 10vw;
            height: 170vw;
            width: 75vw;
            background-color: #F6D5CE;
        }
        #sugaring .sectionwrapper {
            position: relative;
            top: -165vw;
            right: -15vw;
            height: 170vw;
            width: 75vw;
            background-color: #F8F0EE;
            display: grid;
            grid-template-columns: 2fr 1.5fr 1fr;
        }
        #sugaring .overskrifter {
            position: absolute;
            top: 4vw;
            right: 0vw;
            height: 50vw;
            width: 78vw;
            font-family: 'Playfair Display', serif;
            display: grid;
            grid-template-columns: 3fr 2.5fr 3fr;
            font-size: 3vw;
            text-align: center;
            text-decoration: underline;
        }
        #sugaring .col_left {
            font-family: 'Playfair Display', serif;
            margin-left: 6vw;
            margin-right: 6vw;
            margin-bottom: 4vw;
            text-align: left;
            line-height: 9vw;
            font-size: 3vw;
            margin-top: 20vw;
        }
        #sugaring .col_left .linje {
            line-height: 3.5vw;
            padding-top: 2vw;
            padding-bottom: 2vw;
        }
        #sugaring .col_right {
            font-family: 'Playfair Display', serif;
            margin-bottom: 4vw;
            text-align: left;
            line-height: 9vw;
            font-size: 3vw;
            margin-top: 4vw;
            margin-top: 20vw;
        }
        #sugaring .col_right .linje {
            padding-top: 0.5vw;
            padding-bottom: 1.5vw;
        }
        #sugaring .col_middle {
            font-family: 'Playfair Display', serif;
            margin-bottom: 4vw;
            text-align: left;
            line-height: 9vw;
            font-size: 3vw;
            margin-top: 4vw;
            margin-top: 20vw;
        }
        #sugaring .col_middle .linje {
            padding-top: 0.5vw;
            padding-bottom: 1.5vw;
        }
        #sugaring .skygge_book_nu {
            position: relative;
            top: -171vw;
            left: 42vw;
            height: 13vw;
            width: 42vw;
            background-color: #F2AB9B;
        }
        #sugaring .book_nu {
            position: relative;
            top: -186vw;
            left: 44vw;
            height: 13vw;
            width: 42vw;
            background-color: white;
            cursor: pointer;
        }
        #sugaring .book_nu .tekst {
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            text-align: center;
            padding-top: 4vw;
            color: black;
        }
        a:link {
            text-decoration: none;
        }
        #voks .rubrik {
            position: relative;
            top: 17vw;
        }
        #voks h2 {
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            font-size: 5vw;
            text-align: center;
            padding-bottom: 7vw;
        }
        #voks .skygge_section {
            position: relative;
            top: 14vw;
            left: 10vw;
            height: 240vw;
            width: 75vw;
            background-color: #F6D5CE;
        }
        #voks .sectionwrapper {
            position: relative;
            top: -221vw;
            right: -15vw;
            height: 240vw;
            width: 75vw;
            background-color: #F8F0EE;
            display: grid;
            grid-template-columns: 2fr 1.5fr 1fr;
        }
        #voks .overskrifter {
            position: absolute;
            top: 4vw;
            right: 0vw;
            height: 50vw;
            width: 78vw;
            font-family: 'Playfair Display', serif;
            display: grid;
            grid-template-columns: 3fr 2.5fr 3fr;
            font-size: 3vw;
            text-align: center;
            text-decoration: underline;
        }
        #voks .col_left .linje {
            line-height: 3.5vw;
            padding-top: 2vw;
            padding-bottom: 2vw;
        }
        #voks .col_left {
            font-family: 'Playfair Display', serif;
            margin-left: 6vw;
            margin-right: 6vw;
            margin-bottom: 4vw;
            text-align: left;
            line-height: 9vw;
            font-size: 3vw;
            margin-top: 21vw;
        }
        #voks .col_middle {
            font-family: 'Playfair Display', serif;
            margin-bottom: 4vw;
            text-align: left;
            line-height: 9vw;
            font-size: 3vw;
            margin-top: 21vw;
        }
        #voks .col_right {
            font-family: 'Playfair Display', serif;
            margin-bottom: 4vw;
            text-align: left;
            line-height: 9vw;
            font-size: 3vw;
            margin-top: 21vw;
        }
        #voks .linje {
            padding-top: 0.5vw;
            padding-bottom: 1.5vw;
        }
        #voks .linje2 {
            padding-top: 0vw;
            padding-bottom: 1vw;
            line-height: 3.5vw;
            margin-top: 2.5vw;
        }
        #voks .linje3 {
            padding-bottom: -0.5vw;
            line-height: 9vw;
            padding-top: 1vw;
            margin-top: 4.5vw;
            margin-left: 0.5vw;
        }
        #voks .linje4 {
            padding-bottom: -0.5vw;
            line-height: 9vw;
            padding-top: 1vw;
            margin-top: 4.5vw;
            margin-left: 0.5vw;
        }
        #voks .skygge_book_nu {
            position: relative;
            top: -226vw;
            left: 42vw;
            height: 13vw;
            width: 42vw;
            background-color: #F2AB9B;
        }
        #voks .book_nu {
            position: relative;
            top: -241vw;
            left: 44vw;
            height: 13vw;
            width: 42vw;
            background-color: white;
            cursor: pointer;
        }
        #voks .book_nu .tekst {
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            text-align: center;
            padding-top: 4vw;
            color: black;
        }
        footer {
            margin-top: 5vw;
            padding: 5vw;
            background-color: #F8EFED;
            margin: auto;
            max-width: 100%;
        }
        h5 {
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            font-size: 4vw;
        }
        #gavekort {
            display: none;
        }
        footer p {
            padding-top: 2vw;
            padding-bottom: 2vw;
            padding-left: 0;
            padding-right: 0;
            text-align: left;
            margin: 0;
        }
        footer img {
            width: 10vw;
        }
        #aabningstider,
        #besoeg_os,
        #kontakt_os {
            display: none;
        }
        .all_rights_reserved {
            margin-top: 4vw;
            font-size: 2.5vw;
        }
        @media only screen and (min-width: 800px) {
            nav {
                padding: 2vw;
                height: auto;
            }
            .hidden {
                display: block;
            }
            #menu {
                text-align: right;
            }
            #menu li {
                display: inline;
                padding: 0.1vw;
                margin: 0;
                margin-right: 2vw;
            }
            #logo {
                width: 9vw;
            }
            #menuburger {
                display: none;
            }
            #menu a {
                font-family: 'Montserrat', sans-serif;
                padding: 1.3vw;
                font-size: 1vw;
                color: black;
                text-decoration: none;
                text-transform: uppercase;
            }
            #menu a:hover {
                color: #F2AB9B;
            }
            #behandlinger_knap {
                font-family: 'Montserrat', sans-serif;
                font-size: 1.1vw;
                color: black;
                text-decoration: none;
                text-transform: uppercase;
                background-color: #F8F0EE;
                border: none;
            }
            #dropdown {
                position: absolute;
                background-color: #F8F0EE;
                width: 20vw;
                height: 18vw;
                top: 0vw;
                right: 35.5vw;
                z-index: -1;
            }
            #dropdown a {
                text-decoration: none;
                color: black;
                padding: 1vw;
            }
            #dropdown li {
                top: 6vw;
            }
            #behandlinger_knap:hover,
            #dropdown a:hover {
                color: #F2AB9B;
                cursor: pointer;
            }
            .hide {
                display: none;
            }
            h1 {
                font-size: 2vw;
                padding-bottom: 5vw;
            }
            #sugaring h2 {
                font-size: 1.5vw;
                padding-bottom: 5vw;
            }
            #voks h2 {
                top: 0vw;
                font-size: 1.5vw;
                padding-bottom: 5vw;
            }
            body {
                margin-top: 15vw;
            }
            p {
                line-height: 3vw;
                font-size: 1.5vw;
                padding-left: 10vw;
                padding-right: 10vw;
                padding-bottom: 7vw;
            }
            dt {
                line-height: 3vw;
                font-size: 1.2vw;
                padding-left: 10vw;
                padding-right: 10vw;
                padding: 0;
            }
            dt br {
                display: none;
            }
            .skygge_section {
                display: none;
            }
            #sugaring .sectionwrapper {
                position: relative;
                top: -3vw;
                left: 12.5vw;
                width: 75vw;
                height: 50vw;
            }
            #sugaring .col_left {
                margin-top: 10vw;
            }
            #sugaring .col_middle {
                margin-top: 10vw;
            }
            #sugaring .col_right {
                margin-top: 10vw;
            }
            #sugaring .col_left .linje {
                line-height: 3vw;
                padding-top: 0vw;
                padding-bottom: 0vw;
            }
            #sugaring .col_middle .linje {
                line-height: 3vw;
                padding-top: 0vw;
                padding-bottom: 0vw;
            }
            #sugaring .col_right .linje {
                line-height: 3vw;
                padding-top: 0vw;
                padding-bottom: 0vw;
            }
            #sugaring .skygge_book_nu {
                position: relative;
                top: -4vw;
                left: 64.5vw;
                height: 4vw;
                width: 17vw;
            }
            #sugaring .book_nu {
                position: relative;
                top: -9vw;
                left: 65.5vw;
                height: 4vw;
                width: 17vw;
            }
            #sugaring .book_nu .tekst {
                font-size: 1.5vw;
                padding-top: 1vw;
            }
            #voks {
                position: relative;
                top: 98vw;
            }
            #voks .rubrik {
                top: -102vw;
                left: 0vw;
            }
            #voks h2 {
                padding-bottom: 0vw;
            }
            #voks .sectionwrapper {
                position: relative;
                top: -98vw;
                left: 12.5vw;
                width: 75vw;
                height: 72vw;
            }
            #voks p {
                position: relative;
                top: -101vw;
                left 0vw;
            }
            #voks .col_left {
                margin-top: 10vw;
            }
            #voks .col_middle {
                margin-top: 10vw;
            }
            #voks .col_right {
                margin-top: 10vw;
            }
            #voks .col_left .linje {
                line-height: 3vw;
                padding-top: 0vw;
                padding-bottom: 0vw;
            }
            #voks .col_middle .linje {
                line-height: 3vw;
                padding-top: 0vw;
                padding-bottom: 0vw;
            }
            #voks .col_right .linje {
                line-height: 3vw;
                padding-top: 0vw;
                padding-bottom: 0vw;
            }
            #voks .linje2 {
                line-height: 3vw;
                margin: 0vw;
                padding: 0vw;
            }
            #voks .linje3 {
                line-height: 3vw;
                margin: 0vw;
                padding: 0vw;
            }
            #voks .linje4 {
                line-height: 3vw;
                margin: 0vw;
                padding-top: 1.5vw;
                padding-bottom: 1.5vw;
            }
            #voks .skygge_book_nu {
                position: relative;
                top: -99vw;
                left: 64.5vw;
                height: 4vw;
                width: 17vw;
            }
            #voks .book_nu {
                position: relative;
                top: -104vw;
                left: 65.5vw;
                height: 4vw;
                width: 17vw;
            }
            #voks .book_nu .tekst {
                font-size: 1.5vw;
                padding-top: 1vw;
            }
            .blaa {
                position: absolute;
                top: 6vw;
                right: 0vw;
                width: 30vw;
                height: 60vw;
                background-color: #ACCCDB;
                filter: opacity(50%);
            }
            .groen {
                position: absolute;
                top: 45vw;
                left: 11vw;
                width: 50vw;
                height: 24vw;
                background-color: #CAD2C6;
                filter: opacity(50%)
            }
            .orange {
                position: absolute;
                top: 91vw;
                left: 0vw;
                width: 42vw;
                height: 39vw;
                background-color: #F2AB9B;
                filter: opacity(50%)
            }
            .gul {
                position: absolute;
                top: 148.5vw;
                left: 38vw;
                width: 51vw;
                height: 36vw;
                background-color: #F4DAA8;
                filter: opacity(50%);
            }
            .book_nu .tekst {
                padding-top: 1vw;
            }
            #aabningstider,
            #besoeg_os,
            #kontakt_os {
                display: block;
            }
            footer .sectionwrapper {
                display: grid;
                grid-template-columns: 25% 25% 25% 25%;
                width: auto;
                margin: 0;
            }
            .col {
                margin: 1vw;
            }
            h5 {
                font-size: 2vw;
                margin: 0;
                padding: 0;
            }
            #kontakt {
                display: grid;
                grid-template-columns: 1fr 4fr;
                padding-top: 2vw;
                padding-bottom: 2vw;
            }
            #kontakt img,
            #kontakt a {
                margin-right: 1vw;
            }
            #kontakt_os #kontakt img {
                width: 1.5vw;
                height: 1.5vw;
            }
            footer #some img {
                margin-right: 1vw;
                width: 5vw;
            }
            footer address,
            footer a {
                margin-top: 2vw;
                margin-bottom: 2vw;
                font-family: 'Playfair Display', serif;
                font-style: normal;
                color: black;
                text-decoration: none;
            }
            footer a:hover {
                color: #F2AB9B;
            }
            .all_rights_reserved {
                margin-top: 4vw;
                font-size: 1.2vw;
                padding-top: 2vw;
                padding-bottom: 2vw;
            }
            footer p {
                padding: 0vw;
                text-align: left;
                line-height: 2.3vw;
                font-size: 1.1vw;
                padding-top: 2vw;
                padding-bottom: 2vw;
            }
        }
