* {
    margin: 0;
}

#nav {
    top: 0;
}

H1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    color: #742E07;
}

H2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1vw;
    font-size: 1.5rem;
    padding: 2vw;
    color: black;
}

H3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2vw;
    font-size: 1.1rem;
    padding: 2vw;
    color: #742E07;
}

H5 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 4vw;
}

.aabningstider h3 {
    color: #742E07;
}

p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2rem;
    font-size: 0.7rem;
    color: black
}

a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

/*
#sectionwrapper2 hr,
#sectionwrapper3 hr {
    width: 270px;
}

.form button {
    position: absolute;
    width: 86px;
    height: 27px;
    right: 48px;
    top: 360px;
    border: none;
    color: black;
    background-color: white;
    font-size: 3.5vw;
    font-family: 'Montserrat', sans-serif;
}

#skygge_knap {
    position: absolute;
    background-color: #F2AB9B;
    width: 86px;
    height: 28px;
    top: 363px;
    right: 52px;
}*/

#kontakt_os {
    text-align: center;
    width: 80%;
    /*        background-color: #F8EFED;*/
    height: auto;
    margin: auto;
}

#formular {
    margin-top: 15vw;
}

#billede {
    width: 95%;
    height: 40vw;
    overflow: hidden;
    box-shadow: #CAD2C6 -1vw 1vw;
    margin: auto;
    margin-bottom: 5vw;
}

#kontaktformular {
    margin: 2vw;
    padding: 2vw;
    background-color: #F8EFED;
}

.form_felt {
    margin: 2vw;
}

input {
    width: 100%;
    height: 2.5vh;
    border: 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#kontaktformular textarea {
    width: 100%;
    max-width: 100%;
    background-color: white;
    box-sizing: border-box;
    border: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 0.7rem;
}

.send {
    color: black;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: auto;
    padding: 1vw;
    background-color: white;
    border: none;
    box-shadow: #F2AB9B -1vw 1vw;
}

.send:hover {
    cursor: pointer;
    border: none;
}

/*
.form_felt {
    margin: 2vw;
}

textarea {
    width: 100%;
    background-color: #F8EFED;
    box-sizing: border-box;
    color: gray;
    border-color: black;
    height: 100px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    font-size: 3.5vw;
}

input[type=text] {
    width: 100%;
    background-color: #F8EFED;
    box-sizing: border-box;
    color: gray;
    border-color: black;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 7px;
    font-size: 3.5vw;
}
*/

#info {
    background-color: #F8EFED;
    height: auto;
    padding-bottom: 2vw;
}

#info .col {
    text-align: center;
}

#info h3 {
    padding: 3vw;
}

#adresse {
    display: grid;
    grid-template-columns: 10% 90%;
    width: 70%;
    margin: auto;
    text-align: center;
}

.col_ny {
    display: grid;
    text-align: center;
}

#adresse .col_ny {
    text-align: left;
}

.col_ny img {
    height: 3VW;
    width: 3vw;
    margin: auto;
}

/*
.col_aabningstider {
    grid-column-start: 1;
    grid-row: 1;
    grid-column-end: span 3;
    grid-row-end: span 3;
}
*/

.find_vej {
    text-align: center;
    z-index: 50;
    width: 90%;
    margin: auto;
    margin-top: 2vw;
}

.find_vej img {
    padding: 4vw;
    width: 14vw;
}


/*
.facade {
    width: 84vw;
    margin-bottom: ;
    margin-top: 7vw;
}*/

#col_ny {
    top: 110vw;
    right: 10vw;
    height: 125vw;
    width: 75vw;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.col_left {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    float: left;
    line-height: 18vw;
    top: 309vw;
    right: 69vw;
}

.col_left img {
    height: 10vw;
    width: 10vw;
}

.col_left div {}

.col_right {
    position: absolute;
    top: 304vw;
    right: 8vw;
    font-family: 'Roboto', sans-serif;
    margin-left: 6vw;
    margin-right: 6vw;
    margin-bottom: 4vw;
    float: right;
    line-height: 10vw;
    margin-top: 4vw;
    text-align: left;
}

/******************************** Skygger *****************************/

.groen {
    position: absolute;
    background-color: #CAD2C6;
    width: 33vw;
    height: 95vw;
    top: 376vw;
    left: 0px;
    z-index: -1;
}

.blaa {
    position: absolute;
    background-color: #ACCCDB;
    width: 83vw;
    height: 123vw;
    top: 125vw;
    left: 20px;
    z-index: -1;
}

.lyseroed {
    position: absolute;
    background-color: #F2AB9B;
    width: 58%;
    height: 28vw;
    top: 487vw;
    right: 0px;
    z-index: -1;
}

#sectionwrapper2 hr,
#sectionwrapper3 hr {
    width: 328px;
}

/*
.aabningstider hr {
    margin-top: 5vw;
}
*/


/****************************** Header **********************************/

nav {
    position: fixed;
    width: 100%;
    background-color: #F8F0EE;
    text-align: center;
    height: 100%;
    z-index: 99;
}

#menuburger {
    font-size: 8.5vw;
    text-align: right;
    color: #742E07;
    font-family: 'Montserrat', sans-serif;
}

#menu li {
    display: block;
    margin: 2vw;
    padding: 2vw;
    width: 80%;
    transform: translate(10%);
}

#menu a {
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

#menu a:hover {
    color: #F2AB9B;
}

.hidden {
    display: none;
}

.nav_hide {
    height: auto;
}

#logo {
    position: absolute;
    width: 17vw;
    left: 2vw;
    top: 0;
}

#behandlinger_knap {
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #F8F0EE;
    border: none;
}

#dropdown {
    position: relative;
    background-color: #F8F0EE;
    width: 80%;
}

#dropdown li {
    position: relative;
    background-color: #F8F0EE;
    width: 80%;
    margin: 2vw;
}

#dropdown a {
    text-decoration: none;
    color: black;
}

.behandlinger_knap:hover,
#dropdown a:hover {
    color: #F2AB9B;
    cursor: pointer;
}

/****************************** Footer *************************************/

footer {
    margin-top: 5vw;
    padding: 5vw;
    background-color: #F8EFED;
    margin: auto;
    max-width: 100%;
}

footer p {
    padding-top: 2vw;
    padding-bottom: 2vw;
}

footer img {
    width: 10vw;
}

footer #aabningstider,
#besoeg_os,
#footer_kontakt_os {
    display: none;
}



.all_rights_reserved {
    margin-top: 4vw;
    font-size: 2.5vw;
}

/* Menu mobil */

nav {
    position: fixed;
    width: 100%;
    background-color: #F8F0EE;
    text-align: center;
    height: 100%;
    z-index: 99;
}

#menuburger {
    font-size: 8.5vw;
    text-align: right;
    color: #742E07;
    font-family: 'Montserrat', sans-serif;
}

#menu li {
    display: block;
    margin: 2vw;
    padding: 2vw;
    width: 80%;
}

#menu a {
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

#menu a:hover {
    color: #F2AB9B;
}

.hidden {
    display: none;
}

.nav_hide {
    height: auto;
}

#logo {
    position: absolute;
    width: 17vw;
    left: 2vw;
    top: 0;
}

#behandlinger_knap {
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #F8F0EE;
    border: none;
}

#dropdown {
    position: absolute;
    background-color: #F8F0EE;
    width: 100%;
    height: 100%;
    top: 25vw;
    transform: translate(10%);
}

#dropdown li {
    position: relative;
    background-color: #F8F0EE;
    width: 80%;
    margin: 2vw;
    list-style: none;
}

#dropdown a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.behandlinger_knap:hover,
#dropdown a:hover {
    color: #F2AB9B;
    cursor: pointer;
}

/*Menu slut*/

@media only screen and (min-width: 800px) {

    /****************************************************************** DESKTOP ***************************************************************************/
    /************************** Fonts ********************************/
    H1 {
        font-size: 4.5rem;
    }

    H2 {
        font-size: 2.5rem;
    }

    H5 {
        font-size: 1.1rem
    }

    p {
        line-height: 2.4rem;
        font-size: 1.2rem;
    }

    .find_vej p {
        text-align: center;
    }

    .aabningstider p {
        font-size: 2vw;
    }

    .aabningstider #sectionwrapper2 .col p {
        line-height: 3.5vw;
        margin-top: -1vw;
    }

    .facade-container {
        width: 10%;
    }

    #sectionwrapper2 hr,
    #sectionwrapper3 hr {
        visibility: hidden;
    }

    /******************************** Form ****************************/

    #formular {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin-top: 10vw;
    }

    #billede {
        width: 30vw;
        height: 40vw;
        background-color: #F8EFED;
        overflow: hidden;
        box-shadow: #CAD2C6 -1vw 1vw;
        margin: 2vw;
    }

    #kontaktformular {
        margin: 2vw;
        padding: 2vw;
        background-color: #F8EFED;
    }

    .form_felt {
        margin: 2vw;
    }

    input {
        width: 20vw;
        height: 2.5vh;
        border: 0;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }

    #kontaktformular textarea {
        width: 20vw;
        max-width: 30vw;
        background-color: white;
        box-sizing: border-box;
        border: none;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 0.7rem;
    }

    .send {
        color: black;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        width: 8vw;
        height: auto;
        background-color: white;
        border: none;
        box-shadow: none;
    }

    .send:hover {
        background-color: #F2AB9B;
        cursor: pointer;
        border: none;

    }

    /*
    #sectionwrapper1 {
        position: relative;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        width: 100%;
    }
*/
    /*
    .form {
        text-align: left;
        display: flex;
        flex-direction: column;
    }

    .form_oevre {
        position: relative;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        width: 100%;
        margin-bottom: -4vw;
    }

    .left {
        display: flex;
        flex-direction: column;
    }

    .right {
        display: flex;
        flex-direction: column;
    }

    textarea {
        width: 100%;
        background-color: white;
        box-sizing: border-box;
        color: black;
        border-color: gray;
        height: 100px;
        padding: 10px;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 5px;
        font-size: 1.5vw;
    }

    .form h1,
    .form p {
        margin-left: 2vw;
        max-width: 41vw;
        margin-top: 2vw;
    }

    .form h1 {
        margin-top: 8vw;
    }

    input[type=text] {
        width: 100%;
        background-color: white;
        box-sizing: border-box;
        color: black;
        border-color: gray;
        padding: 10px;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 7px;
        margin-right: -1vw;
        font-size: 1.5vw;
    }
*/
    /*
    body #kontakt_os {
        margin-left: 6vw;
        margin-right: 6vw;
        margin-bottom: 4vw;
        margin-top: 70px;
    }
*/
    /*
    .send button {
        position: absolute;
        width: 7vw;
        height: 2.5vw;
        right: 45.5vw;
        top: 36vw;
        border: 1px solid gray;
        background-color: white;
        font-size: 1.5vw;
        font-family: 'Montserrat', sans-serif;
    }
    #skygge_knap {
        position: absolute;
        background-color: #F2AB9B;
        width: 7vw;
        height: 2.5vw;
        top: 36.5vw;
        right: 46vw;
    }
*/
    /************************************* Info *****************************/
    #info {
        background-color: #F8EFED;
        height: auto;
        width: 70%;
        padding: 2.4vw;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 5vw;
    }

    #info h3 {
        text-align: center;
    }

    #adresse {
        display: grid;
        grid-template-columns: 1fr 4fr;
        margin: auto;
        padding-left: 6vw;
    }

    .col_ny {
        display: grid;
        padding: 0.4vw;
        text-align: left;
    }

    .col_ny p {
        margin-bottom: 2vw;
    }

    .col_ny img {
        height: 3VW;
        width: 3vw;
        padding: 0vw;
        margin: auto;
        margin-bottom: 1.6vw;
    }

    .border {
        border-left: 0.1vw solid #742E07;
    }

    /*
    .aabningstider #sectionwrapper2 {
        position: relative;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        width: 90%;
    }

    .aabningstider .col p {
        line-height: 3.5vw;
        margin-top: 3vw;
    }

    .aabningstider #sectionwrapper2 .col p {
        line-height: 3.5vw;
        margin-top: 2vw;
    }
*/
    /*
    .col_left img {
        height: 5vw;
        width: 5vw;
    }

    .col_left {
        font-family: 'Playfair Display', serif;
        float: left;
        line-height: 8vw;
        position: absolute;
        top: 1vw;
        right: 31vw;
    }

    .col_ny {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%
    }

    .col_right {
        position: absolute;
        top: -2vw;
        right: -4vw;
        font-family: 'Playfair Display', serif;
        margin-left: 6vw;
        margin-right: 6vw;
        margin-bottom: 4vw;
        float: right;
        line-height: 5vw;
        margin-top: 4vw;
        text-align: left;
    }
*/
    /*************************** Find vej ********************************/
    .find_vej {}

    .find_vej #sectionwrapper3 {
        position: relative;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 33%);
        width: 100%;
        margin-bottom: 13vw;
    }

    .findvej .col {
        display: flex;
        flex-direction: column;
    }

    .find_vej p {
        margin: 2vw;
    }

    .find_vej img {
        margin: 0;
        width: 7vw;
    }


    /********************************** Billede **************************/
    .facade-container {
        display: flex;
        flex-direction: column;
    }

    .facade {
        width: 22vw;
    }

    /************************* Skygger *******************************/
    .groen {
        position: absolute;
        background-color: #CAD2C6;
        width: 33vw;
        height: 47vw;
        top: 24vw;
        left: 67vw;
        z-index: -1;
    }

    .lyseroed {
        position: absolute;
        background-color: #F2AB9B;
        width: 40%;
        height: 23vw;
        top: 61vw;
        right: 80px;
        z-index: -1;
    }

    .blaa {
        position: absolute;
        background-color: #ACCCDB;
        width: 25vw;
        height: 41vw;
        top: 68vw;
        left: 0;
        z-index: -1;
    }

    .gul {
        position: absolute;
        background-color: #F4DAA8;
        width: 18vw;
        height: 31.5vw;
        top: 15vw;
        right: 26.5vw;
    }

    /*
    *************************** Vertikale linjer ***************************
    .vl1 {
        top: 57vw;
        right: 50vw;
        border-left: 1px solid black;
        height: 350px;
        position: absolute;
    }

    .vl2 {
        top: 96vw;
        right: 65vw;
        border-left: 1px solid black;
        height: 282px;
        position: absolute;
    }

    .vl3 {
        top: 96vw;
        right: 36vw;
        border-left: 1px solid black;
        height: 282px;
        position: absolute;
    }
*/
    /****************************** Header ***************************/
    nav {
        padding: 2vw;
        height: auto;
    }

    .hidden {
        display: block;
    }

    #menu {
        text-align: right;
    }

    #menu li {
        display: inline;
        padding: 0.1vw;
        margin: 0;
        margin-right: 2vw;
    }

    #logo {
        width: 9vw;
    }

    #menuburger {
        display: none;
    }

    #menu a {
        font-family: 'Montserrat', sans-serif;
        padding: 1.3vw;
        font-size: 1vw;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
    }

    #menu a:hover {
        color: #F2AB9B;
    }

    #behandlinger_knap {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.1vw;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        background-color: #F8F0EE;
        border: none;
    }

    #dropdown {
        position: absolute;
        background-color: #F8F0EE;
        width: 20vw;
        height: 18vw;
        top: 0vw;
        right: 35.5vw;
        z-index: -1;
    }

    #dropdown a {
        text-decoration: none;
        color: black;
        padding: 1vw;
    }

    #dropdown li {
        top: 6vw;
    }

    #behandlinger_knap:hover,
    #dropdown a:hover {
        color: #F2AB9B;
        cursor: pointer;
    }

    .hide {
        display: none;
    }

    /********************************** Footer ***********************************/
    footer #aabningstider,
    #besoeg_os,
    footer #footer_kontakt_os {
        display: block;
    }

    footer .sectionwrapper {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        width: auto;
        margin: 0;
    }

    footer .col {
        margin: 1vw;
    }

    footer h5 {
        font-size: 2vw;
    }

    footer #kontakt {
        display: grid;
        grid-template-columns: 1fr 4fr;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }

    footer #kontakt img,
    footer #kontakt a {
        margin-right: 1vw;
        width: 2vw;
    }

    footer #some img {
        margin-right: 1vw;
        width: 5vw;
    }

    footer address,
    footer a {
        margin-top: 2vw;
        margin-bottom: 2vw;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        color: black;
        text-decoration: none;
    }

    footer a:hover {
        color: #F2AB9B;
    }

    .all_rights_reserved {
        margin-top: 4vw;
        font-size: 1.2vw;
    }

    /*    Menu desktop */
    nav {
        padding: 2vw;
        height: auto;
    }

    .hidden {
        display: block;
    }

    #menu {
        text-align: right;
    }

    #menu li {
        display: inline;
        padding: 0.1vw;
        margin: 0;
        margin-right: 2vw;
    }

    #logo {
        width: 9vw;
    }

    #menuburger {
        display: none;
    }

    #menu a {
        font-family: 'Montserrat', sans-serif;
        padding: 1.3vw;
        font-size: 1vw;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
    }

    #menu a:hover {
        color: #F2AB9B;
        background-image:
    }

    #behandlinger_knap {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.1vw;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        background-color: #F8F0EE;
        border: none;
    }

    #dropdown {
        position: absolute;
        background-color: #F8F0EE;
        width: 21vw;
        height: 24vw;
        top: 0vw;
        left: 47.2vw;
        z-index: -1;
        text-align: left;
    }

    #dropdown ul {
        padding: 0;
    }

    #dropdown li {
        top: 3vw;
        display: block;
    }

    #dropdown a {
        font-size: 1vw;
    }

    #behandlinger_knap:hover,
    #dropdown a:hover {
        color: #F2AB9B;
        cursor: pointer;
    }

    .hide {
        display: none;
    }

    /*    Menu slut */
}
