* {
	margin: 0;
	padding: 0;
}

#om_os_video,
#om_os_billede {
	display: none;
}

.hidden {
	display: none;
}

nav {
	position: fixed;
	width: 100%;
	background-color: #F8F0EE;
	text-align: center;
	height: 100%;
	z-index: 99;
}

#menuburger {
	font-size: 8.5vw;
	text-align: right;
	color: #742E07;
	font-family: 'Montserrat', sans-serif;
}

#menu li {
	display: block;
	margin: 2vw;
	padding: 2vw;
}

#menu a {
	font-family: 'Montserrat', sans-serif;
	font-size: 5vw;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
}

#menu a:hover {
	color: #F2AB9B;
}

#dropdown {
	position: relative;
	background-color: #F8F0EE;
	width: 80%;
}

#dropdown li {
	position: relative;
	background-color: #F8F0EE;
	width: 80%;
	margin: 2vw;
}

#dropdown a {
	text-decoration: none;
	color: black;
}

.behandlinger_knap:hover,
#dropdown a:hover {
	color: #F2AB9B;
	cursor: pointer;
}

.hidden {
	display: none;
}

.nav_hide {
	height: auto;
}

#logo {
	position: absolute;
	width: 17vw;
	left: 4vw;
	top: 0;
}

/*OPSÆTNING*/
img {
	max-width: 85%;
}

header {
	position: fixed;
	background-color: #F8F0EE;
	width: 100vw;
	height: 10vw;
	top: 0vw;
	right: 0;
	z-index: 1;
}

body {
	margin-top: 33vw;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 8vw;
	text-align: center;
	padding-bottom: 7vw;
}

p {
	font-family: 'Playfair Display', serif;
	margin-left: 6vw;
	margin-right: 6vw;
	margin-bottom: 4vw;
	text-align: center;
	line-height: 7vw;
	padding-bottom: 8vw;
}

.blaa {
	position: absolute;
	background-color: #ACCCDB;
	width: 50vw;
	height: 145vw;
	top: 25vw;
	z-index: -2;
}

.green {
	position: absolute;
	background-color: #CAD2C6;
	width: 75vw;
	height: 40vw;
	top: 210vw;
	right: 0;
}

.yellow {
	position: absolute;
	background-color: #F4DAA8;
	width: 40vw;
	height: 70vw;
	top: 380vw;
	z-index: -1;
}

#om_os {
	position: relative;
	width: 100%;
	text-align: center;
	margin-top: 10vw;
}

#skyggeboks_1 {
	position: absolute;
	top: 72vw;
	left: 9vw;
	right: 13vw;
	height: 55vw;
	width: 82vw;
	background-color: #F6D5CE;
	z-index: -1;
}

#skyggeboks_2 {
	position: absolute;
	top: 345vw;
	left: 3vw;
	right: 20vw;
	height: 30vw;
	width: 60vw;
	background-color: #F6D5CE;
	z-index: -1;
}

/*FOOTER*/
footer {
	position: absolute;
	top: 450vw;
	margin-top: 5vw;
	padding: 5vw;
	background-color: #F8EFED;
	margin: 0;
	max-width: 100%;
}

footer p {
	padding-top: 0vw;
	padding-bottom: 0vw;
}

footer img {
	width: 10vw;
}

#aabningstider,
#besoeg_os,
#kontakt_os {
	display: none;
}

.all_rights_reserved {
	margin-top: 4vw;
	font-size: 2.5vw;
}

/* MEDIA QUERIES*/

@media (min-width: 800px) {

	/*MENUEN*/
	nav {
		padding: 2vw;
		height: auto;
	}

	.hidden {
		display: block;
	}

	#menu {
		text-align: right;
	}

	#menu li {
		display: inline;
		padding: 0.1vw;
		margin: 0;
		margin-right: 2vw;
	}

	#logo {
		width: 9vw;
	}

	#menuburger {
		display: none;
	}

	#menu a {
		font-family: 'Montserrat', sans-serif;
		padding: 1.3vw;
		font-size: 1vw;
		color: black;
		text-decoration: none;
		text-transform: uppercase;
	}

	#menu a:hover {
		color: #F2AB9B;
	}

	#behandlinger_knap {
		font-family: 'Montserrat', sans-serif;
		font-size: 1.1vw;
		color: black;
		text-decoration: none;
		text-transform: uppercase;
		background-color: #F8F0EE;
		border: none;
	}

	#dropdown {
		position: absolute;
		background-color: #F8F0EE;
		width: 20vw;
		height: 18vw;
		top: 0vw;
		right: 35.5vw;
		z-index: -1;
	}

	#dropdown a {
		text-decoration: none;
		color: black;
		padding: 1vw;
	}

	#dropdown li {
		top: 6vw;
	}

	#behandlinger_knap:hover,
	#dropdown a:hover {
		color: #F2AB9B;
		cursor: pointer;
	}

	.hide {
		display: none;
	}

	/*OPSÆTNING*/

	header {
		height: 12vw;
	}

	h1 {
		font-size: 6vw;
	}

	p {
		line-height: 5vw;
	}

	#om_os {
		display: none;
	}

	#om_os_video,
	#om_os_billede {
		display: initial;
		position: relative;
	}

	video {
		max-width: 70%;
		align-content: center;
		margin-left: 20%;
	}


	h1 {
		font-size: 6vw;
		padding-bottom: 4vw;
	}

	p {
		line-height: 5vw;
	}

	.green {
		display: none;
	}

	.yellow {
		display: none;
	}

	.blaa {
		position: absolute;
		top: 65vw;
		height: 150vw;
		width: 35vw;
		right: 0;
		z-index: -3;
	}

	.roed {
		position: absolute;
		background-color: #F2AB9B;
		top: 74vw;
		height: 22vw;
		width: 25vw;
		z-index: -2;
	}

	.roed_2 {
		position: absolute;
		background-color: #F2AB9B;
		top: 242vw;
		right: 4vw;
		height: 22vw;
		width: 25vw;
		z-index: -2;
	}

	.lyseroed {
		position: absolute;
		background-color: #F8EFED;
		top: 90vw;
		left: 10vw;
		height: 40vw;
		width: 45vw;
		z-index: -1;
	}

	.lyseroed_2 {
		position: absolute;
		background-color: #F8EFED;
		top: 120vw;
		right: 6vw;
		height: 106vw;
		width: 45vw;
		z-index: 1;
	}

	#skygge_video {
		/*den grønne boks*/
		position: absolute;
		background-color: #CAD2C6;
		top: 11vw;
		left: 22vw;
		height: 28vw;
		width: 68vw;
		z-index: -2;
	}

	.portraet {
		position: absolute;
	}

	#skygge_img {
		/*den gule boks*/
		position: absolute;
		background-color: #F4DAA8;
		top: 60vw;
		left: 0vw;
		height: 15vw;
		width: 15vw;
		z-index: -2;
	}

	#skyggetekst {
		position: absolute;
		background-color: #F2AB9B;
		top: 225vw;
		right: 8vw;
		height: 35vw;
		width: 30vw;
		z-index: -1;
	}

	.tekst_1 {
		position: absolute;
		top: 62vw;
		left: 10vw;
		height: 55vw;
		width: 45vw;
		z-index: 1;
	}

	.tekst_2 {
		position: absolute;
		top: 125vw;
		right: 10vw;
		z-index: 1;
	}

	.placeholder {
		position: absolute;
		background-color: aquamarine;
		top: 62vw;
		left: 2vw;
		height: 55vw;
		width: 40vw;
		z-index: 1;
	}

	/*FOOTER*/
	footer {
		width: 100%;
		top: 280vw;
	}

	#aabningstider,
	#besoeg_os,
	#kontakt_os {
		display: block;
	}

	footer .sectionwrapper {
		display: grid;
		grid-template-columns: 25% 25% 25% 25%;
		width: auto;
		margin: 0;
	}

	footer #aabningstider p {
		text-align: right;
	}

	.col {
		margin: 0vw;
	}

	h5 {
		font-size: 2vw;
	}

	#kontakt {
		display: grid;
		grid-template-columns: 1fr 4fr;
		padding-top: 2vw;
		padding-bottom: 2vw;
	}

	#kontakt img {
		margin-right: 1vw;
	}

	footer #some img {
		margin-right: 1vw;
		width: 5vw;
	}

	footer address,
	footer a {
		margin-top: 2vw;
		margin-bottom: 2vw;
		font-family: 'Playfair Display',
			serif;
		font-style: normal;
		color: black;
		text-decoration: none;
	}

	footer a:hover {
		color: #F2AB9B;
	}

	.all_rights_reserved {
		margin-top: 4vw;
		font-size: 1.2vw;
	}
}

@media only screen and (min-width: 1000px) {

	img {
		max-width: 65%;
	}

	p {
		line-height: 4.4vw;
		font-size: 2vw;
	}

	footer p {
		font-size: initial;
		line-height: normal;
	}

	h1 {
		font-size: 5vw;
	}

	h2 {
		font-size: 4vw;
	}

	h3 {
		font-size: 2vw;
		padding: 1vw;
		color: #742E07;
	}

	header {
		height: 9vw;
	}

	.blaa {
		height: 95vw;
	}
}

/*@media only screen and (min-width: ?000px) {

	header {
		height: 5vw;
	}

	/*footer {
		top: 260vw;
		/*height: 40vw;
	}

	footer p {
		padding-top: 2vw;
		padding-bottom: 2vw;
	}

	.all_rights_reserved {
		margin-top: 1vw;
		font-size: 2.5vw;
		margin-bottom: none;
	}
}*/
