* {
    margin: 0;
    padding: 0;
}

/* Menu mobil */

nav {
    position: fixed;
    width: 100%;
    background-color: #F8F0EE;
    text-align: center;
    height: 100%;
    z-index: 99;
}
#menuburger {
    font-size: 8.5vw;
    text-align: right;
    color: #742E07;
    font-family: 'Montserrat', sans-serif;
}
#menu li {
    display: block;
    margin: 2vw;
    padding: 2vw;
    width: 80%;
    transform: translate(10%);
}
#menu a {
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
#menu a:hover {
    color: #F2AB9B;
}
.hidden {
    display: none;
}
.nav_hide {
    height: auto;
}
#logo {
    position: absolute;
    width: 17vw;
    left: 2vw;
    top: 0;
}
#behandlinger_knap {
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #F8F0EE;
    border: none;
}
#dropdown {
    position: absolute;
    background-color: #F8F0EE;
    width: 100%;
    height: 100%;
    top: 25vw;
    transform: translate(10%);
}
#dropdown li {
    position: relative;
    background-color: #F8F0EE;
    width: 80%;
    margin: 2vw;
    list-style: none;
}
#dropdown a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
.behandlinger_knap:hover,
#dropdown a:hover {
    color: #F2AB9B;
    cursor: pointer;
}

/*Menu slut*/

#velkommen {
    width: auto;
    height: 75vh;
    text-align: center;
}
#splash {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    height: 100vh;
}
#video_splash {
    display: none;
}
#splash #billede {
    display: block;
    position: absolute;
    width: auto;
    height: 100vh;
    background-size: cover;
    background-position: 25% 10%;
    overflow: hidden;
    left: 60%;
    transform: translate(-50%);
}
#velkommen h1,
#velkommen p {
    position: relative;
    top: 60%;
    background-color: #F8F0EE;
    width: 60%;
    margin: auto;
    padding: 0.5vw;
    opacity: 0.7;
    color: #742E07;
}
.billedtekst {
    font-family: 'Playfair Display', serif;
    /*    text-align: center;*/
}
#groen {
    position: absolute;
    background-color: #CAD2C6;
    width: 20vw;
    height: 80vw;
    filter: opacity(0.3);
}
#gul {
    position: absolute;
    background-color: #F4DAA8;
    width: 70vw;
    height: 60vw;
    top: 340vw;
    right: 0;
    filter: opacity(0.3);
}
#blaa {
    position: absolute;
    background-color: #ACCCDB;
    width: 65vw;
    height: 40vw;
    top: 470vw;
    filter: opacity(0.3);
}
#forside_behandlinger {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 10vw;
}

/* Ikoner under behandlinger */

#forside_behandlinger img {
    width: 35vw;
    height: 100%;
    margin: 5vw;
}
#forside_behandlinger .negle {
    width: 17vw;
}
#forside_behandlinger p {
    padding-left: 6vw;
    padding-right: 6vw;
}
#forside_behandleren {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 10vw;
}
#behandleren {
    position: relative;
    background-color: #F8EFED;
    margin: auto;
    width: 80%;
    height: 60vw;
}
#behandleren h3 {
    color: #742E07;
    padding: 5vw;
}
#behandleren p {
    margin: auto;
    width: 80%;
    text-align: left;
}
.skygge_laes_mere {
    position: absolute;
    background-color: #F2AB9B;
    width: 34vw;
    height: 10vw;
    right: 4vw;
    bottom: -4vw;
}
.laes_mere {
    position: absolute;
    background-color: white;
    width: 34vw;
    height: 10vw;
    right: 3vw;
    bottom: -3vw;
}
.laes_mere a {
    display: block;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    padding: 3vw;
}
#skygge_video {
    position: absolute;
    background-color: #CAD2C6;
    width: 75%;
    height: 82vw;
    top: 110vw;
    right: 6vw;
}
#behandleren_img {
    position: relative;
    background-color: #F8EFED;
    margin: auto;
    top: 15vw;
    width: 80%;
    height: 100vw;
    overflow: hidden;
}
#behandleren_img img {
    width: 100%;
    height: auto;
}
#anmeldelser {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 25vw;
}
#skygge_anmeldelser {
    display: none;
}
#anmeldelser_intro {
    position: relative;
    background-color: #F8EFED;
    margin: auto;
    width: 80%;
    height: 20vw;
    box-shadow: #CAD2C6 1vw 1vw;
}
#anmeldelser_intro p {
    padding: 2vw;
}

/*    Anmeldelse slide*/

#anmeldelser_slideshow {
    position: relative;
    width: 80%;
    margin: auto;
    height: 85vw;
}
.kunde {
    display: none;
    padding: 0vw;
}
.frem,
.tilbage {
    cursor: pointer;
    position: absolute;
    color: #F2AB9B;
    font-weight: bold;
    font-size: 30px;
}
.frem {
    right: 1vw;
    top: 12vw;
}
.tilbage {
    left: 1vw;
    top: 12vw;
}
#lyseroed {
    /*
    position: absolute;
    background-color: #F2AB9B;
    width: 58%;
    height: 100vw;
    top: 100vw;
    opacity: 0.3;
    z-index: -1;
*/
    display: none;
}
.kunder {
    position: relative;
    margin: auto;
    margin-bottom: 4vw;
    width: 80%;
    margin-top: 0;
}
.kundebillede {
    margin: 4vw;
    width: 15vw;
}
.kunde_info {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 3vw;
    margin-bottom: 2vw;
}
#popop p {
    display: none;
}
footer {
    margin-top: 5vw;
    padding: 5vw;
    background-color: #F8EFED;
    margin: auto;
    max-width: 100%;
}
#gavekort {
    display: none;
}
.border {
    border-right: 0.1vw solid #742E07;
}
footer p {
    padding-top: 2vw;
}
footer img {
    width: 10vw;
}
#aabningstider,
#besoeg_os,
#kontakt_os {
    display: none;
}
#kontakt img {
    width: 2vw;
}
.all_rights_reserved {
    margin-top: 4vw;
    font-size: 0.5rem;
}
H1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    color: #742E07;
}
H2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1vw;
    font-size: 1.5rem;
    padding: 2vw;
    color: black
}
H3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2vw;
    font-size: 1.1rem;
    padding: 2vw;
    color: #742E07;
}
p {
    font-family: 'Playfair Display', serif;
    line-height: 1.1rem;
    font-size: 0.7rem;
    color: black
}
H5 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 4vw;
}
@media only screen and (min-width: 800px) {
    /*    Menu desktop */
    nav {
        padding: 2vw;
        height: auto;
    }
    .hidden {
        display: block;
    }
    #menu {
        text-align: right;
    }
    #menu li {
        display: inline;
        padding: 0.1vw;
        margin: 0;
        margin-right: 2vw;
    }
    #logo {
        width: 9vw;
    }
    #menuburger {
        display: none;
    }
    #menu a {
        font-family: 'Montserrat', sans-serif;
        padding: 1.3vw;
        font-size: 1vw;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
    }
    #menu a:hover {
        color: #F2AB9B;
        background-image:
    }
    #behandlinger_knap {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.1vw;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        background-color: #F8F0EE;
        border: none;
    }
    #dropdown {
        position: absolute;
        background-color: #F8F0EE;
        width: 21vw;
        height: 24vw;
        top: 0vw;
        left: 47.2vw;
        z-index: -1;
        text-align: left;
    }
    #dropdown ul {
        padding: 0;
    }
    #dropdown li {
        top: 3vw;
        display: block;
    }
    #dropdown a {
        font-size: 1vw;
    }
    #behandlinger_knap:hover,
    #dropdown a:hover {
        color: #F2AB9B;
        cursor: pointer;
    }
    .hide {
        display: none;
    }
    /*    Menu slut */
    p {
        line-height: 2.3vw;
        font-size: 1.3vw;
    }
    /*    Splash */
    #video_splash {
        display: block;
        position: absolute;
        top: 1vw;
        left: 50%;
        transform: translate(-50%);
        height: 100%;
    }
    #splash #billede {
        display: none;
    }
    /*    Behandlinger */
    #skygge_behandlinger {
        position: absolute;
        background-color: #F2AB9B;
        width: 34vw;
        height: 30vw;
        right: 4vw;
        bottom: -1vw;
    }
    #sectionwrapper {
        position: relative;
        margin: auto;
        background-color: #F8EFED;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        width: 90%;
    }
    .col {
        display: flex;
        flex-direction: column;
    }
    #forside_behandlinger img,
    #forside_behandlinger .negle {
        width: 8vw;
        height: auto;
        margin: auto;
        padding-top: 3vw;
    }
    #forside_behandlinger .negle {
        width: 4vw;
    }
    #forside_behandlinger p {
        margin: 0;
        padding: 1vw;
        padding-bottom: 3vw;
    }
    /*
    h3 {
        font-size: 2vw;
        padding: 1vw;
        color: #742E07;
    }
*/
    #gul {
        width: 30vw;
        height: 60vw;
        top: 150vw;
        left: 0;
        filter: opacity(0.3);
    }
    #groen {
        position: absolute;
        height: 60vw;
        right: 0;
        top: 210vw;
        filter: opacity(0.3);
        z-index: -1;
    }
    #forside_behandleren {
        position: relative;
        width: 100%;
        text-align: center;
        /*        Undersøg evt hvorfor den driller her*/
        height: 60vw;
    }
    #behandleren {
        margin-left: 15%;
        width: 50%;
        height: 45vw;
    }
    #behandleren h3 {
        padding: 2vw;
        margin-right: 8vw;
        font-size: 1.5rem;
        padding-top: 10vw;
    }
    #behandleren p {
        margin: auto;
        margin-right: 13vw;
        width: 62%;
    }
    /*
    .skygge_laes_mere {
        position: absolute;
        background-color: #F2AB9B;
        width: 20vw;
        height: 5vw;
        right: 3vw;
        bottom: 3vw;
        z-index: 1;
    }
*/
    .laes_mere {
        position: absolute;
        background-color: white;
        width: 20vw;
        height: 5vw;
        right: 2vw;
        bottom: 4vw;
        z-index: 1;
        box-shadow: #F2AB9B -1vw 1vw;
    }
    .laes_mere a {
        padding: 1.6vw;
    }
    #skygge_video {
        background-color: #ACCCDB;
        width: 20vw;
        height: 30vw;
        top: 20vw;
        right: 11vw;
    }
    #behandleren_img {
        position: relative;
        background-color: seashell;
        top: -43.5vw;
        left: 58vw;
        width: 30%;
        height: 40vw;
        margin: 0;
    }
    #anmeldelser {
        margin-top: 0vw;
    }
    #skygge_anmeldelser {
        display: block;
        position: absolute;
        background-color: #F2AB9B;
        width: 30%;
        left: 4vw;
        height: 12vw;
        top: 6.5vw;
    }
    #anmeldelser_intro {
        width: 90%;
        height: auto;
        margin-bottom: 2vw;
    }
    #anmeldelser_slideshow {
        height: 30vw;
    }
    .frem,
    .tilbage {
        font-size: 50px;
    }
    .sectionwrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
        margin: auto;
    }
    .col {
        display: flex;
        flex-direction: column;
    }
    .kundebillede {
        margin: auto;
        padding: 2.5vw;
        width: 10vw;
    }
    .kunde_info {
        font-size: 1.5vw;
    }
    #blaa {
        display: none;
    }
    #lyseroed {
        background-color: #ACCCDB;
        width: 37vw;
        height: 42vw;
        top: 45vw;
        filter: opacity(0.3);
        z-index: -1;
    }
    #skygge_gavekort_1 {
        position: absolute;
        background-color: #F4DAA8;
        width: 20vw;
        height: 10vw;
        top: -1vw;
        left: 11vw;
    }
    #skygge_gavekort_2 {
        position: absolute;
        background-color: #F2AB9B;
        width: 20vw;
        height: 20vw;
        bottom: -1vw;
        right: 11vw;
    }
    #gavekort {
        display: block;
        position: relative;
        width: 100%;
        text-align: center;
        margin: auto;
        margin-top: 10vw;
    }
    #gavekort .sectionwrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 70%;
        position: relative;
        background-color: #F8EFED;
        margin-bottom: 3vw;
        padding: 3vw;
    }
    .form_felt {
        margin: 2vw;
    }
    input {
        width: 20vw;
        height: 2.5vh;
        border: 0;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }
    .send {
        color: black;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        width: 8vw;
        height: 2vw;
        background-color: white;
        border: none;
    }
    .send:hover {
        background-color: #F2AB9B;
        cursor: pointer;
        border: none;
        width: 8vw;
        height: 2vw;
    }
    #popop {
        position: fixed;
        width: 15vw;
        height: auto;
        text-align: center;
        background-color: #F2AB9B;
        padding: 3vw;
        bottom: 2vw;
        right: 5vw;
        z-index: 99;
    }
    #popop p {
        display: block;
    }
    #luk p {
        position: absolute;
        bottom: 8vw;
        right: 1vw;
        font-family: 'Montserrat', sans-serif;
        font-size: 2.5vw;
        color: white;
    }
    #luk p:hover {
        color: black;
    }
    /*    Footer desktop */
    footer p {
        margin-left: 0;
        line-height: 2rem;
        font-size: 1rem;
    }
    #aabningstider,
    #besoeg_os,
    #kontakt_os {
        display: block;
    }
    footer .sectionwrapper {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        width: auto;
        margin: 0;
    }
    .col {
        margin: 1vw;
    }
    #kontakt {
        display: grid;
        grid-template-columns: 1fr 4fr;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }
    #kontakt img,
    #kontakt a {
        display: flex;
        margin: 0;
        width: 2.5vw;
    }
    footer #some img {
        margin-right: 1vw;
        width: 3vw;
    }
    footer address,
    footer a {
        margin-top: 2vw;
        margin-bottom: 2vw;
        font-family: 'Playfair Display', serif;
        font-style: normal;
        color: black;
        text-decoration: none;
        line-height: 2.3vw;
        font-size: 0.9rem;
        text-transform: none;
    }
    footer a:link {
        text-transform: none;
    }
    footer a:hover {
        color: #F2AB9B;
    }
    .all_rights_reserved {
        margin-top: 4vw;
        font-size: 0.6rem;
    }
    /*    Footer slut */
    H1 {
        font-size: 4.5rem;
    }
    H2 {
        font-size: 2.5rem;
    }
    h5 {
        font-size: 1.1rem;
    }
    p {
        line-height: 2.4rem;
        font-size: 0.9rem;
    }
}
